extends layout

block main_content
  h1 Corporate Donation Matching
  table.table.table-striped.table-bordered.table-responsive
    thead.thead-light
      tr
        th Company
        th Limit 
        th Ratio
    tbody
      each company in companies
        tr 
          td #{company.name}
          td $#{company.match_limit}
          td #{company.ratio}
      
      
